<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">Grateful + Bound</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a [routerLink] = "['/']">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li *ngIf="authService.loggedIn()"><a [routerLink] = "['/profile']">
              Profile</a>
            </li>
            <li *ngIf="authService.loggedIn()"><a [routerLink] = "['/dashboard']">
              Dashboard</a>
            </li>
            <li *ngIf="!authService.loggedIn()"><a [routerLink] = "['/login']">
              Login</a>
            </li>
            <li *ngIf="!authService.loggedIn()"><a [routerLink] = "['/register']">
              Register</a>
            </li>
            <li *ngIf="authService.loggedIn()"><a (click)="onLogoutClick()"[routerLink] = "['/']">
              logout</a>
            </li>
          </ul>
        </div>
    </div>
</nav>
